pipeline/filter.json
{
	"name": "filter",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.data",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "newvalue",
					"value": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"data": {
				"type": "array"
			}
		},
		"variables": {
			"value": {
				"type": "String"
			},
			"newvalue": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}